version: 2.1
orbs:
  node: circleci/node@4.7.0
  aws-cli: circleci/aws-cli@1.3.1
jobs:
  build:
    docker:
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - run: npm i -g yarn
      - run:
          name: Back-End Install
          command: |
            npm run backend:install
      - run:
          name: Back-End Lint
          command: |
            npm run backend:lint
      - run:
          name: Back-End Test
          command: |
            npm run backend:test
      - run:
          name: Back-End Build
          command: |
            npm run backend:build
      - run:
          name: Front-End Install
          command: |
            npm run frontend:install
      - run:
          name: Front-End Lint
          command: |
            npm run frontend:lint
      - run:
          name: Front-End Test
          command: |
            npm run frontend:test
      - run:
          name: Front-End Build
          command: |
            npm run frontend:build
